{# ------------------------------------------------------- #}
{# ONE OFF VIEW beliefs #}
{# This page can use any data from http:localhost:2000/cms/#/form/beliefs/ #}
{# Webhook uses the SWIG.js (like Djagno/Twig) templating system. Their documentation is here: #}
{# http://paularmstrong.github.io/swig/docs/tags/ #}
{# Learn about calling data into Webhook pages here: #}
{# http://www.webhook.com/docs/template-rules-and-filters/ #}
{# ------------------------------------------------------- #}
{# Confused what extends and blocks do? Watch a primer: #}
{# http://www.webhook.com/docs/template-inheritance-blocks/ #}
{% extends "templates/partials/base.html" %}
{# This sets our page <title>. It will append this beliefs's name to the site title defined in base.html #}
{% block title %}{% parent %} - {{ cms.beliefs.name }}{% endblock %}
{% block content %}
  <h1>{{ cms.beliefs.name }}</h1>
  <ul>
      <li>
        <strong>Name: </strong>
        {{ cms.beliefs.name }}
      </li>
      <li>
        <strong>Create Date: </strong>
        {# Format the date. You can use PHP's date function to format as needed. http://php.net/manual/en/function.date.php #}
        {{ cms.beliefs.create_date|date('F d Y') }}
      </li>
      <li>
        <strong>Last Updated: </strong>
        {# Format the date. You can use PHP's date function to format as needed. http://php.net/manual/en/function.date.php #}
        {{ cms.beliefs.last_updated|date('F d Y') }}
      </li>
      <li>
        <strong>Introductory Text: </strong>
        {{ cms.beliefs.introductory_text|markdown }}
      </li>
      <li>
        <strong>Individual Beliefs: </strong>
        {# Loop of your Repeatable Form items. Remember, you can sort the order in your CMS if you need. #}
        <ul>
        {% for row in cms.beliefs.individual_beliefs %}
            <li>
              <strong>Title: </strong>
              {{ row.title }}
            </li>
            <li>
              <strong>Icon: </strong>
              {{ row.icon }}
            </li>
            <li>
              <strong>Content: </strong>
              {{ row.content|markdown }}
            </li>
        {% endfor %}
        </ul>
      </li>
      <li>
        <strong>Preview URL: </strong>
        {{ cms.beliefs.preview_url }}
      </li>
      <li>
        <strong>Slug: </strong>
        {{ cms.beliefs.slug }}
      </li>
  </ul>
{% endblock %}
